@mixin mobile{
    @media screen and (max-width: 680px) {
        @content;
    }
}

.distribucion-lateral{
    display: flex;
    // border: 1px outset red;
    flex-wrap: nowrap;

    .mensajes{
        // border: 1px outset red;
        // background-color: $color-borde;
        margin: 20px;
        padding: 15px;
        width: 20%;
        height: 50%;

        @include mobile() {
            width: 85%;
            text-align: center;
        }
    }
}