.main-container{
    margin: 1em;
}

.pokemon-img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    transition: transform 0.1s;
}
.pokemon-img:hover{
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    10% { transform: translate(-3px, 0px) rotate(-5deg); }
    20% { transform: translate(3px, 0px) rotate(5deg); }
    30% { transform: translate(-3px, 0px) rotate(-5deg); }
    40% { transform: translate(3px, 0px) rotate(5deg); }
    50% { transform: translate(-3px, 0px) rotate(-5deg); }
    60% { transform: translate(3px, 0px) rotate(5deg); }
    70% { transform: translate(-3px, 0px) rotate(-5deg); }
    80% { transform: translate(3px, 0px) rotate(5deg); }
    90% { transform: translate(-3px, 0px) rotate(-5deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

.pokemon-name{
    font-weight: bold;
}