body {
    font-family: Arial, sans-serif;
    background: #4b4646;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #F54927;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 8px solid black;
    width: 400px;
    max-width: 400px;
    padding-bottom: 10px;
}

.container .respuesta{
    grid-column: 1 / span 5;
    background-color: #bbdadf;
    padding: 30px;
    text-align: right;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid black;
}

.container button{
    background-color: #F08080;
    border-radius: 10px;
    width: 100%;
    padding: 15px 0;
    font-size: 1.1rem;
    border: none;
    color: white;
    cursor: pointer;
    border: 2px outset black;
}

.container button:hover {
    background: #da2222;
    border: 2px inset black;
}