body {
    font-family: Arial, sans-serif;
    background: #4b4646;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #F54927;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 8px solid black;
    width: 400px;
    max-width: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.container .respuesta{
    grid-column: 1 / span 5;
    background-color: #bbdadf;
    padding: 30px;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 10px;;
    border: 4px solid black;
    font-weight: bold;
    /* animation: parpadeo linear 1s infinite; */
}

.container .barra_baja{
    animation: parpadeo linear 1s infinite;
}

.container button{
    background-color: #F08080;
    border-radius: 10px;
    width: 100%;
    padding: 15px 0;
    font-size: 1.1rem;
    border: none;
    color: white;
    cursor: pointer;
    border: 2px outset black;
}

.container button:hover{
    background: #da2222;
    border: 2px inset black;
}

.container .casio {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 2px;
    font-style: italic;
    font-weight: bold;;
}

.container .led{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(88, 253, 88);
    margin-left:5px;
    animation: led-funcionando 1s infinite alternate;
}

.container .mod-1,
.container .mod-2,
.container .mod-3,
.container .mod-4,
.container .mod-5{
    display: none;
}

.container .mod-1.show,
.container .mod-2.show,
.container .mod-3.show,
.container .mod-4.show,
.container .mod-5.show {
    display: grid;
}


@keyframes parpadeo{
    0%{
        color: black;
    }
    50%{
        color: #bbdadf;
    }
}

@keyframes led-funcionando{
    0%,49% {background-color: rgb(88, 253, 88);}
    50%, 100% {background-color: red;}
}

@media screen and (max-width: 550px){
    .container{
        grid-template-columns: repeat(3, 1fr);
        width: 300px;
    }

    .container .respuesta{
        grid-column: 1 / span 3;
    }
    
    /* .container .btn9{ order: 1;}
    .container .btn8{ order: 1;}
    .container .btn7{ order: 1;}
    .container .btn6{ order: 1;}
    .container .btn5{ order: 1;}
    .container .btn4{ order: 1;}
    .container .btn3{ order: 1;}
    .container .btn2{ order: 1;}
    .container .btn1{ order: 1;} */
    .container .btn0{ order: 2;}

    .container .btnOnOff{ order: 1;}
    .container .btnAC{ order: 3;}
    .container .btnx{ order: 4;}
    .container .btnDiv{ order: 5;}
    .container .btnMas{ order: 6;}
    .container .btnMenos{ order: 7;}
    .container .btnPunto{ order:8;}
    .container .btnEXP{ order: 11;}
    .container .btnMOD{ order: 10;}
    .container .btnIgual{ order: 9;}
}