.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #cdcbcb;
}

.Nav {
  background-color: rgb(164, 137, 248);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 25px;
  margin:1rem;
}

main{
  flex: 1;
}

.header{
  background: #222;
  color: white;
  padding: 10px;
}

footer{
  min-height: 100%;
  background: #222;
  color: white;
  padding: 10px;
}