.contenedor{
   display: grid;
<<<<<<< HEAD
   height: 100vh; /*ocupa el alto de la pantalla*/
   grid-template-columns: repeat(2, 2fr);/*los elementos ocuparan 3 columnas*/
   grid-template-rows: repeat(1, 1fr);  /*los elementos ocuparan 2 filas*/
=======
   height: 100vh;
   grid-template-columns: repeat(3, 2fr);
   grid-template-rows: repeat(1);
>>>>>>> 2ada4e1808e8baee7980d9f034c024fdd3f71088
 }
 
.item{
   border: 3px solid #ffffff;
   padding: 1rem;
   font-family: arial;
   color: white;
   text-align: center;
<<<<<<< HEAD
   background: linear-gradient(135deg, rgb(97, 234, 222) 0%, rgb(30, 168, 255) 100%);
=======
   background: green;
>>>>>>> 2ada4e1808e8baee7980d9f034c024fdd3f71088
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;

}