.contenedor{
   display: grid;
   height: 100vh;
   grid-template-columns: repeat(3, 2fr);
   grid-template-rows: repeat(1);
 }
 
.item{
   border: 3px solid #ffffff;
   padding: 1rem;
   font-family: arial;
   color: white;
   text-align: center;
   background: green;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;

}