*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  /*vw significa */
  width: 80vw;
  height: 80vh;
  border: 3px solid black;
}

.bloque {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 2rem;

}