:root {
    --width:30px;
    --height:30px;
}

.contenedor{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr min-content;
    background-color: green;
    padding: 5px;
    gap: 5px;
    position: relative;
    color: green;

    div{
        text-align: center;
        background-color: #f1f1f1;
        justify-content: center;
        position: relative;

        .ball {
            text-align: center;
            border-radius: 50%;
            width: var(--width);
            height: var(--height);
            background-color: green;
            background-size: contain;
            background-repeat: no-repeat;
            position:absolute;

            animation: toRight linear 3s infinite alternate, bounce linear 10s infinite alternate, change-color 1s ease-in-out infinite;
        }
    }

    .top-txt, .bttm-txt, .center-txt, .left-txt, .right-txt{
        background-color: rgba(255, 99, 71, 0);
        -webkit-text-stroke: 0.1px white;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    .item2:hover{
        animation: shake 1s ease-in-out infinite;
        .top-txt, .bttm-txt{opacity: 1;}
    }

    .item3:hover{
        animation: spin 1s ease-in-out infinite;
        .top-txt, .bttm-txt{opacity: 1;}
    }

    .item4{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 4;
        img{transition: opacity 1s ease;}
        .center-txt{font-size: 20px;-webkit-text-stroke: 0.1px green;}
        .top-txt{-webkit-text-stroke: 0.1px green;}
        button{
            background-color: green;
            color: white; 
            padding-left:20px; 
            padding-right:20px;
        }
    }

    .item4:hover{
        background-color: orange;
        img{opacity: 0.3;filter: hue-rotate(45deg);}
        .top-txt, .bttm-txt, .center-txt{opacity: 1; z-index: 3;}
    }

    .item5{
        position: relative;
        overflow: hidden;
    }

    .item5:hover{
        animation: change-color 1s ease-in-out infinite;
        .center-txt{opacity: 1; z-index: 3;}
        img{
            transform: scale(1.5);
            transition: transform 0.3s ease;
        }
    }

    .item6:hover{
        animation: change-size 1s ease-in-out infinite;
        .top-txt, .bttm-txt{opacity: 1;}
    }

    .item7{
        .top-txt, .left-txt, .right-txt{
            -webkit-text-stroke: 1px black;
        }
    }

    .item7:hover{
        animation: change-grayscale 1s ease-in-out infinite;
        .top-txt, .left-txt, .right-txt{opacity: 1;}
    }
    
    img{
        width: 100%;
        height:100%;
        object-fit: cover;
        display: block;
    }

    .top-txt{
        position: absolute;
        text-align: center;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }

    .bttm-txt{
        position: absolute;
        text-align: center;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }

    .center-txt{
        position: absolute;
        text-align: center;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }

    .left-txt{
        position: absolute;
        text-align: center;
        top: 45%;
        left: 15%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }

    .right-txt{
        position: absolute;
        text-align: center;
        top: 45%;
        left: 85%;
        transform: translate(-50%, -50%);
        font-size: 35px;
    }
}

@keyframes bounce {
    0% {
        top:0;
    }
    48% {
    }
    50% {
        top: calc(100% - var(--height));
    }
    52% {
    }
    100% {
        top: 0;
    }
}

@keyframes toRight {

    0% {
        left: 0;
    }

    100% {
        left: calc(100% - var(--width));
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes change-color {
    33% {filter: hue-rotate(90deg);}
    66%{filter: hue-rotate(180deg);}
    100%{filter: hue-rotate(270deg);}
}

@keyframes change-size{
    50%{transform: scaleX(0.2) scaleY(0.2);}
}

@keyframes flipx{
    0%   { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
}

@keyframes change-grayscale{
    0%{filter: grayscale(100%);}
    100%{filter: grayscale(100%);}
}

@media screen and (max-width: 550px){

    .contenedor{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    /* Eso es un poco bruto, pero funciona */
    .item1{
        padding: 250px;
    }

    .item4{
        grid-row-start: auto !important;
        grid-row-end: auto !important;
        grid-column-start: auto !important;
        grid-column-end: auto !important;
    }

}