/*Cosas responsive*/
@media screen and (max-width: 800px){
    /*Desaparece la imagen cuando se hace muy pequeño*/
    .separate-blocks .imagen{
        display: none !important;
    }

    .separate-blocks .imagen-transp{
        display: none !important;
    }

    .separate-blocks .titulo{
        font-size: 30px;
    }
}

@media screen and (max-width: 770px){
    .separate-blocks .columnaDerecha {
        display: block;
        float: left;
    }

    .bloques-izquierda{
        width: 100% !important;
    }

    .hamburguesa{
        display: inline-block !important;
    }

    .changeOnSize{
        display: none !important;
    }
}

.titulo {
    font-weight: bold;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.separate-blocks{
    display: block;
    width: 100%;
    overflow: hidden;

    .imagen{
        vertical-align: middle;
    }

    .columnaDerecha{
        display: inline-block;
        background-color: #c1c1c1;
        text-align: center;
        padding: 30px;
        margin: 20px;
    }

    .bloques-izquierda{
        float: left;
        width: 70%;
    }
}

.yellowDiv{
    display: block;
    border: 1px outset #c1c1c1;
    background-color: #f5f2c0;
    text-align: left;
    min-width: 300px;

    word-wrap: break-word; 

    padding: 30px;
    margin: 20px;

    /*Esto se usa para modificar los textos*/
    .font-30{
        font-size: 30px;
    }

    .font-20{
        font-size: 20px;
    }

    .borroso{
        color: #c1c1c1;
    }

    /*Esto da algo de transparencia a una imagen de forma artificial*/
    .imagen-transp{
        mix-blend-mode: multiply;
    }
    /*border: 1px outset red;*/
}

/*Aquí esta todo lo que tiene que ver con la barra de busqueda*/
.navegador{
    border: 1px outset #c1c1c1;
    background-color: #c1c1c1;
    overflow: hidden;
    width: 100%;
    /*Esto es muy útil*/
    /* min-width: 210px; */

    a{
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
}

.contenedor-busqueda{
    float: right;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.contenedor-busqueda button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.titulo-form{
    font-size: 50px;
    text-align: center;
}

.formulario{
    float: left;
    border-top: 2px outset black;
    border-bottom: 2px outset black;
    width: 100%;

    .row{
        display: block;
        border-top: 1px outset black;
        border-bottom: 1px outset black;
        padding:10px;

        label{
            text-align: right;
        }
    }

    button{
        float: right;
        background-color: blue;
        color: white;
        margin-right: 40px;
    }
}

.warning{
    color:red;
    float:right; 
    margin-right:30px;
}

.changeOnSize{
    display: inline-block;
}

.hamburguesa {
    display: none;
    cursor: pointer;
    margin-left: 20px;
}

.burger-menu{
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.change .burger-menu{
    display: block !important;
}