/*Cosas responsive*/
@media screen and (max-width: 800px){
    /*Desaparece la imagen cuando se hace muy pequeño*/
    .separate-blocks .imagen{
        display: none !important;
    }

    .separate-blocks .imagen-transp{
        display: none !important;
    }

    .separate-blocks .titulo{
        font-size: 30px;
    }
}

@media screen and (max-width: 550px){
    .separate-blocks .columnaDerecha {
        display: block;
        float: left;
    }
}

.titulo {
    font-weight: bold;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.separate-blocks{
    display: block;
    text-align: justify;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    .imagen{
        vertical-align: middle;
    }

    .columnaDerecha{
        display: inline-block;
        background-color: #c1c1c1;
        text-align: center;
        padding: 30px;
        margin: 20px;
    }

    .bloques-izquierda{
        float: left;
        width: 70%;
    }
}

.yellowDiv{
    display: block;
    border: 1px outset #c1c1c1;
    background-color: #f5f2c0;
    text-align: left;
    min-width: 300px;

    word-wrap: break-word; 

    padding: 30px;
    margin: 20px;

    /*Esto se usa para modificar los textos*/
    .font-30{
        font-size: 30px;
    }

    .font-20{
        font-size: 20px;
    }

    .borroso{
        color: #c1c1c1;
    }

    /*Esto da algo de transparencia a una imagen de forma artificial*/
    .imagen-transp{
        mix-blend-mode: multiply;
    }
    /*border: 1px outset red;*/
}

/*Aquí esta todo lo que tiene que ver con la barra de busqueda*/
.navegador{
    border: 1px outset #c1c1c1;
    background-color: #c1c1c1;
    overflow: hidden;
    width: 100%;
    /*Esto es muy útil*/
    /* min-width: 210px; */

    a{
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .contenedor-busqueda{
        float: right;
    }

    input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    .contenedor-busqueda button {
        float: right;
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }
}

.titulo-form{
    font-size: 50px;
    text-align: center;
}

.formulario{
    float: left;
    border-top: 2px outset black;
    border-bottom: 2px outset black;
    width: 100%;

    .row{
        display: block;
        border-top: 1px outset black;
        border-bottom: 1px outset black;
        padding:10px;

        label::before {
            content: "\0009";
            text-align: right;
        }
    }
}