.yellowDiv {
    display: block;
    border: 1px outset #c1c1c1;
    background-color: #f5f2c0;
    text-align: left;

    
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    /* border: 1px outset red; */
}

.separate-blocks{
    display: inline-block;
    /* border: 1px outset red; */
    height: 100%;
    vertical-align: middle;

    .titulo{
        font-size: 50px;
        padding-bottom: 15px;
        /* min-width: 500px; */
        position: center;
        float: left;
        position: relative;
        text-align: center;
    }
}

/*Cosas responsive*/
@media screen and (max-width: 800px){
    /*Desaparece la imagen cuando se hace muy pequeño*/
    .separate-blocks .imagen{
        display: none !important;
    }

    /*El titulo cambia propiedades para adaptarse*/
    .separate-blocks .titulo{
        font-size: 30px;
    }
}

.separate-blocks{
    display: inline-block;
    /*border: 1px outset red;*/
    vertical-align: top;
}

.columnaDerecha{
    background-color: #c1c1c1;
    text-align: center;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

body *{
    border: 0;
    padding: 0;

    .grayDiv{
        /* border: 1px outset #c1c1c1; */
        background-color: #c1c1c1;
        text-align: left;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .floatingYellowDiv{
        border: 1px outset #c1c1c1;
        background-color: #f5f2c0;
        text-align: left;
        padding-right: 400px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;

        /*Esto se usa para modificar los textos*/
        .font-30{
            font-size: 30px;
        }

        .font-20{
            font-size: 20px;
        }

        .borroso{
            color: #c1c1c1;
        }

        /*Esto da algo de transparencia a una imagen de forma artificial*/
        .imagen-transp{
            mix-blend-mode: multiply;
        }
        /*border: 1px outset red;*/
    }

    /*Aquí esta todo lo que tiene que ver con la barra de busqueda*/
    .navegador{
        border: 1px outset #c1c1c1;
        background-color: #c1c1c1;
        overflow: hidden;
        width: 100%;
        /*Esto es muy útil*/
        /* min-width: 210px; */

        a{
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .contenedor-busqueda{
            float: right;
        }

        input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

        .contenedor-busqueda button {
            float: right;
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
    }
}