*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.titulo-principal{
    font-size: 40px;
    margin: 10px;
}

.titulo-parrafo{
    font-size: 25px;
    margin: 10px;
}

.buscador{
    margin: 20px;
}

.contenedor-horizontal {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    gap: 10px;
    /*Esto hace que el contenido coja todo el espacio disponible de forma vertical*/
    /* align-items: stretch; */
    /*Esto hace que el contenido coja solo el espacio minimo de forma vertical*/
    align-items: flex-start;
    flex: 1;
    /* border: 1px outset red; */
}

.contenedor-vertical-grande{
    display: flex;
    flex-direction: column;
    flex: 2;
    /* border: 1px outset green; */
}

.contenedor-vertical-pequeño{
    display: flex;
    flex-direction: column;
    flex: 0.8;
    /* border: 1px outset green; */
}

.barra {
    width: 100%;
    align-items: center;
    justify-content: left;
    border: 2px outset black;
    margin: 5px;
    padding-left: 5px;
}

.barra-no-border {
    width: 100%;
    align-items: center;
    justify-content: left;
    margin: 5px;
    padding-left: 5px;
}

div#mapa-imagen {
    width: 800px;
    height: 400px;
    display: inline-block;
    position: relative;
}

div#mapa-imagen img{
    width: 100%;
    height: 100%;
}

div#nota1, div#nota2, div#nota3{
    /* border: 1px red solid; */
    position: absolute;
    img{
        display: none;
    }
}
div#mapa-imagen:hover div#nota1 img, div#mapa-imagen:hover div#nota2 img,div#mapa-imagen:hover div#nota3 img{
    display: block;
}

div#nota1 p, div#nota2 p, div#nota3 p{
    /* font-size: 50px; */
    position: absolute;
    display: none;
}

#nota1:hover p, #nota2:hover p, #nota3:hover p{
    display: block;
    top: 100%;
}

#nota1{
    top: 50px;
    left: 100px;
    height: 100px;
    width: 100px;
}

#nota2{
    top: 150px;
    left: 300px;
    height: 200px;
    width: 100px;
}

#nota3{
    top: 250px;
    left: 600px;
    height: 100px;
    width: 200px;
}