:root {
  --width:100px;
  --height:100px;
}


body {
  background-color: black;
}

.ball {
  text-align: center;
  border-radius: 50%;
  width: var(--width);
  height: var(--height);
  background-color: green;
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute;

  animation: toRight linear 3s infinite alternate, bounce linear 10s infinite alternate;
}

@keyframes bounce {
  0% {
    top:0;
  }
  48% {
  }
  50% {
    top: calc(100% - var(--height));
  }
  52% {
  }
  100% {
    top: 0;
  }
}

@keyframes toRight {

  0% {
    left: 0;
  }

  100% {
    left: calc(100% - var(--width));
  }
}